.splitHori {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: solid;
  padding-top: 1rem;
  margin-bottom: 1rem;
}

.blueButton{
  color:#f4f1ec;
  background-color:#4056A1;
  display: flex;
  padding: 1rem;
}

.redFont{
  color: red
}

.tweetBorder {
  border-style: solid;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.element:hover {
  background-color: #f4f1ec;
  position: relative;
  box-shadow: 35px 30px 5px 0px #a5a5a5;
}

/* .splitVert {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
} */
